.main-container {
    max-width: 600px;
    border: 1px solid green;
    padding: 1em;
}

.view-main {
    border: 1px solid #cc00cc;
    padding: 1em;
}

.main-header {
    font-size:24px;
    text-align: center;
    border: 1px solid red;
    cursor: pointer;
}

.div-img-detail {
    max-width: 550px;
    border: 2px solid grey;
    padding: 1em;
}
.main-section-button{
    padding: 10px;
    text-align: center;
}

.detail-title{
    text-align: center;
    color: blue;
    font-size:30px;
    font: bold;
}
.detail-animals-card-img {
    width:520px;
    height: 520px;
    position:right;
    padding: 10px;
}
.main-footer {
    text-align: center;
    border: 1px solid blue;
    margin: 0.5em;
    padding:0.2em;
    cursor: pointer;
}

.list-animals {
  padding:0.2em;
  border: 1px solid #ff9933;
}

.list-animals-card {
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 0.5em;
    padding:0.2em;
    overflow:hidden;
    text-align: center;
    cursor: pointer;
}

.mamiferos {
    border: 2px solid lime;
}

.otros {
    border: 2px solid blue;
}

.list-animals-card-img {
    width:100px;
    height: 100px;
}

.list-animals-card-title {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.button-bar {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}
.miClaseDinamica {
    color: green;
}

.miOtraClaseDinamica {
    background: purple;
}

.has-error {
    background: red;
}

.txt-error{
    color:white;
    background:red;
    height: 50px;
    margin-bottom:10px;
}

.frm-UpdAnimal{
    max-width: 550px;
    max-height: 300px;
    border: 2px solid blue;
    padding: 1em;
}