<article>
    <!-- Las propiedades y métodos del controlador se interpretan en las templates cuando van dentro del par de llaves -->
    <!--{{ compoPadre.foo }} -->
    <div class="main-container">
        <div class="view-main">
            <list-animals></list-animals>
        </div>
        <div class="main-section-button">
            <button ng-click="viewMain.goToAddLion()">Añadir Léon</button>
            <button ng-click="viewMain.goToAddAnimal()">Añadir Animal</button>
            <button ng-click="viewMain.goToUpdAnimal()">Actualizar Animal</button>
        </div>
    </div>

</article>