<section>

    <div class="div-select-up-animal">
        <h1>Selecciona el animal que quieres actualizar:

        <select ng-model="updAnimal.animalSelected" ng-change="updAnimal.editAnimal(updAnimal.animalSelected)">
            <option ng-repeat="item in updAnimal.allAnimals"  ng-value="{{item.id}}">{{item.name}}</option>
        </select>
        </h1>
    </div>
    <div class="frm-UpdAnimal" ng-show="updAnimal.animalSelected">
        <h3>Modificar el animal: {{updAnimal.animalToUpdate.name}}</h3>
        <div class="div-img-detail">
            Nombre animal: 
            <input type="text" value="{{updAnimal.animalToUpdate.name}}" ng-model="updAnimal.nameUpdAnimal" label="Animal" ng-class="{ 'has-error' : !updAnimal.nameUpdAnimal && updAnimal.formSend}">
            <br><br>
            Tipo Animal:
            <select ng-model="updAnimal.typeUpdAnimal" ng-class="{ 'has-error' : !updAnimal.typeUpdAnimal && updAnimal.formSend }">
                <option value="mamiferos">Mamiferos</option>
                <option value="otros">Otros</option>
            </select>
            <br><br>
            Imagen:
            <input type="text" value="{{updAnimal.animalToUpdate.img}}" ng-model="updAnimal.imgUpdAnimal" label="Animal" ng-class="{ 'has-error' : !updAnimal.imgUpdAnimal && updAnimal.formSend}">
            <br><br>
            <div>
                <div class="txt-error" ng-show="!showMsg && updAnimal.formSend">ERROR <br> Debe introducir todos los datos.</div> 
            </div>
            <div class="button-bar">

                <button ng-click="updAnimal.updAnimal()">Confirmar</button>
                <button ng-click="updAnimal.goToMain()">Cancelar</button>
            </div>
        </div>



    </div>
</section>